config SNAKE_USE_CUSTOM_COLORSCHEME
    bool "Use custom colorscheme"
    default n

config SNAKE_COLOR_1
    int "Color 1"
    default 50

config SNAKE_COLOR_2
    int "Color 2"
    default 50

config SNAKE_COLOR_3
    int "Color 3"
    default 50
    
config SNAKE_COLOR_4
    int "Color 4"
    default 50

config SNAKE_COLOR_FRAME
    int "Color Frame"
    default 50

config SNAKE_COLOR_FRAME_1
    int "Color Frame 1"
    default 50

config SNAKE_COLOR_BOARD
    int "Color Board"
    default 50

config SNAKE_COLOR_BOARD_1
    int "Color Board 1"
    default 50